body {
  font:
    16px Roboto,
    Arial,
    sans-serif;
  text-align: center;
  background-color: #b4af92;
}
header,
main,
footer {
  margin: 0 auto;
  padding: 0;
  max-width: 1024px;
  box-sizing: border-box;
}
main {
  font-size: 1rem;
  margin: 0 auto;
  padding: 2rem 0;
  background-image: url("./gray-seamless-metallic-texture-brushed-metal-background.jpg");
  background-size: cover;
}
figure {
  position: relative;
  margin: 0;
  padding: 0;
  container-type: inline-size;
  container-name: my-image-container;
  overflow: hidden;
}
figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
figcaption {
  position: absolute;
  left: 5cqw;
  bottom: 5cqw;
}
h1 {
  margin: 0;
  font-size: 5cqw;
  text-shadow:
    -0.5rem -0.5rem 0.5rem #d0dce9,
    0.5rem 0.5rem 0.5rem #d0dce9;
}
h2 {
  font-size: 2rem;
}
footer {
  font-size: 1.2rem;
  background-color: #0f6795;
  color: white;
  padding: 1rem;
}
footer ul {
  list-style-type: none;
  line-height: 2rem;
}
footer a {
  color: white;
}
footer a:visited {
  color: white;
}
iframe {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 75px;
}
